name: Automação de Testes

# Permite execução manual
on:
  workflow_dispatch:
    inputs:
      run_tests:
        description: 'Rodar testes?'
        required: true
        default: 'true'
        type: boolean

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Build & Run Tests
        if: ${{ github.event.inputs.run_tests == 'true' }}
        run: |
          echo "Running tests on environment: ${{ github.event.inputs.environment }}"
          mvn clean verify -Denv=${{ github.event.inputs.environment }}

      - name: Generate Allure Report
        if: ${{ github.event.inputs.run_tests == 'true' }}
        run: mvn allure:report

      - name: Upload Allure Report
        if: ${{ github.event.inputs.run_tests == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: target/site/allure-maven-plugin

      - name: Upload Test Results
        if: ${{ github.event.inputs.run_tests == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: target/surefire-reports/
